.text {
  font-size: 1.1rem;
  font-weight: 700;
  user-select: none;
}

.creditsIcon {
  margin-left: 8px;
  margin-right: 4px;
}

.creditsRemaining {
  height: unset;
  width: unset;
  margin-right: 4px;
}

.creditsPending {
  height: unset;
  width: unset;
}
